<nav class="sidebar" [class.collapsed]="collapsed"> 
  <div class="sidebar-logo">
    @if (!collapsed) {
      <a routerLink="/">
        <img src="logo.svg" class="img-fluid" alt="Ideal Solutions" />
      </a>
   
    } @else {
      <a routerLink="/">
        <img src="logoSmall.svg" class="img-fluid" alt="Collapsed Logo" />
      </a>
     
    }
  </div>

  <div class="sidebar-collpseMenu">
    <button class="btn btn-link" (click)="toggleSidebar()">
      <span class="icon-list3"></span>
    </button>
  </div>

  <ul class="menu">
    @for (item of menu; track $index) {
      <li [class.has-submenu]="item.subMenu" [class.open]="isSubMenuOpen(item.label)">
        
        <!-- Regular menu item -->
        @if (!item.subMenu) {
          <a [routerLink]="item.route" class="menu-item" [class.active]="isActive(item.route!)">
            <div class="d-flex align-items-center gap-2 custom-label">
              <div class="icon-sec">
                <i class="{{ item.icon }}"><i class="path1"></i><i class="path2"></i></i>
              </div>
              <label class="mb-0">{{ item.label }}</label>
            </div>
          </a>
        }

        <!-- Submenu -->
        @if (item.subMenu) {
          <a (click)="toggleSubMenu(item.label); $event.preventDefault()" class="menu-item">
            <div class="d-flex align-items-center gap-2 custom-label">
              <div class="icon-sec">
                <i class="{{ item.icon }}"><i class="path1"></i><i class="path2"></i></i>
              </div>
              <label class="mb-0">{{ item.label }}</label>
            </div>
            @if (!collapsed) {
              <span class="arrow" [class.open]="isSubMenuOpen(item.label)">
                <span class="icon-keyboard_arrow_down"></span>
              </span>
            }
          </a>

          @if (isSubMenuOpen(item.label)) {
            <ul class="submenu" [class.float-submenu]="collapsed">
              @if (collapsed) {
              <li class="bg-custom">
                <h6>Assets</h6>
              </li>
            }
              @for (sub of item.subMenu; track $index) {
              
                <li *ngIf="!(!collapsed && sub.label === 'Invoices')">
                  <a [routerLink]="sub.route || null" class="menu-item">
                    <div class="d-flex align-items-center gap-2">
                      <div class="icon-sec">
                        <i class="{{ sub.icon }}"><i class="path1"></i><i class="path2"></i></i>
                      </div>
                      <label class="mb-0 d-flex align-items-center justify-content-between w-100">
                        {{ sub.label }}
                
                        <!-- Only show add-user button for Users -->
                        <button *ngIf="sub.label === 'Users'" class="btn btn-primary btn-rounded p-1 px-2" (click)="goToAddUser()">
                          <i class="icon-Plus"></i>
                        </button>
                      </label>
                    </div>
                  </a>
                </li>
                
              }
            </ul>
          }
        }
      </li>
    }
  </ul>

  <div class="sidebar-user">
    <img src="profile.svg" class="img-fluid" alt="John Doe" />
    @if (!collapsed) {
      <div class="profile-sec d-flex flex-column">
        <strong>John Doe</strong>
        <small>Admin</small>
      </div>
    }
  </div>
</nav>
