.input-icon-wrapper {
    position: relative;
    i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #6c757d;
        font-size: 20px;
        z-index: 9999;
      }

      input {
        padding-left: 35px; /* leave space for icon */
      }

  }


 .input-phone ::ng-deep input.p-component.p-filled.p-inputtext{
    padding-left: 36px;
  }


  .rfid-disabled-bg { 
    background-color: rgb(63 61 78 / 40%) !important;
}
.form-check-input{
    &:focus{
        box-shadow: none;
    }
}



#role ,#department{
    -webkit-appearance: none; 
    -moz-appearance: none;  
    appearance: none;         
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M2 4l4 4 4-4' fill='none' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px 12px;
    background-color: #1e2230;
    color: #fff; 
}
  