.rotate-0 {
    transform: rotate(0deg);
    display: inline-block;
    color: #fff;
    font-size: 18px;
  }
  
  .rotate-180 {
    transform: rotate(180deg);
    display: inline-block;

    color: #fff;
    font-size: 18px;
  }
  
  .neutral {
    color: #fff;
    font-size: 18px;
  }


  
/* Styles for drag-and-drop and drag indicator */
.icon-drag_indicator {
    margin-right: 8px;
    cursor: move; 
  }
  
  th[cdkDrag]:hover {
    background-color: #f8f9fa; 
  }
  

  
  th.cdk-drag-dragging {
    opacity: 0.6;
  }
  
  tr[draggable="true"]:hover {
    background-color: #f8f9fa; 
  }
  
  tr[draggable="true"] {
    cursor: move; 
  }
  
  tr.dragging {
    opacity: 0.6; 
  }
  
  .cursor-pointer {
    cursor: pointer; 
  }
  
  .cdk-drag-preview {
    background-color: #1F1D2B;
    color: #9E9BAD;
  }
  
  .cdk-drag-placeholder {
    opacity: 0.3;
  }