<div class="afternoon-shift-container" [ngClass]="{ 'with-border': withBorder }">

    @if (showToolbar) {
        <small class=" mobile-only mb-2">
            Shifts
        </small>
    <div class="header">
      
        <div class="toolbar w-100">
            <div class="search-section">
                <span class="p-input-icon-left w-100">
                    <i class="icon-search"></i>
                    <input pInputText type="text" placeholder="Search" [formControl]="searchTerm" class="w-100" />
                </span>
            </div>

            <div class="action-buttons">
                <button pButton label="Export" icon="pi pi-download" class="p-button-outlined" (click)="onExport()">

                </button>
                <button pButton label="Import" icon="pi pi-upload" class="p-button-outlined" (click)="onImport()">

                </button>
            </div>
        </div>
    </div>
    }

    <div class="d-flex align-items-center gap-3 mb-3">
        <div>
            <i class="icon-ClockUser-1 fs-2"></i>
        </div>
        <div>
            <h2>Afternoon Shift</h2>
            <div class="shift-info">12:00 PM - 06:00 PM</div>
        </div>
    </div>

    <div class="mb-3">
        <p-table [value]="filteredVehicles" [loading]="vehicles.length === 0" responsiveLayout="scroll">

            <!-- Header -->
            <ng-template pTemplate="header">
                <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onColumnDrop($event)">
                    @for (col of columns; track $index) {
                    <th [attr.data-column]="col.field" cdkDrag [ngClass]="{'cursor-pointer': col.sortable}"
                        (click)="col.sortable && (col.field === 'vehicle' || col.field === 'plateNum') ? sort(col.field) : null">
                        <div class="d-flex align-items-center">
                            <i class="icon-drag_indicator"></i>

                            @if (col.field === 'vehicle') {
                            <div class="d-flex align-items-center">
                                {{ col.header }}
                                <i class="icon-straight-down" [ngClass]="{
                                            'rotate-180': sortField === 'vehicle' && sortOrder === 1,
                                            'rotate-0': sortField === 'vehicle' && sortOrder === -1,
                                            'neutral': sortField !== 'vehicle'
                                        }"></i>
                            </div>
                            } @else if (col.field === 'plateNum') {
                            <div class="d-flex align-items-center">
                                {{ col.header }}
                                <i class="icon-straight-down" [ngClass]="{
                                            'rotate-180': sortField === 'plateNum' && sortOrder === 1,
                                            'rotate-0': sortField === 'plateNum' && sortOrder === -1,
                                            'neutral': sortField !== 'plateNum'
                                        }"></i>
                            </div>
                            } @else if (col.field === 'status') {
                            <div class="d-flex align-items-center justify-content-between w-100-custom w-100">
                                {{ col.header }} <span class="icon-Vector fs-6 bg-light"></span>
                            </div>
                            } @else {
                            {{ col.header }}
                            }
                        </div>
                    </th>
                    }
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-vehicle let-i="rowIndex">
                <tr draggable="true" (dragstart)="onDragStart($event, i)" (dragover)="onDragOver($event)"
                    (drop)="onDrop($event, i)">

                    @for (col of columns; track $index) {
                    @if (col.field === 'vehicle') {
                    <td>
                        <div class="d-flex align-items-center">
                            <small class="border rounded px-1 py-1 text-custom me-2"> SUV </small>
                            <label class="text-decoration-underline"> {{ vehicle.vehicle }} </label>
                        </div>
                   
                    </td>
                    } @else if (col.field === 'plateNum') {
                    <td>{{ vehicle.plateNum }}</td>
                    } @else if (col.field === 'odometer') {
                    <td>{{ vehicle.odometer }}</td>
                    } @else if (col.field === 'gps') {
                    <td>{{ vehicle.gps }}</td>
                    } @else if (col.field === 'device') {
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="device-icon">
                                <i class="icon-Lightning fs-3"></i>
                            </span>
                            <label class="d-flex flex-column">
                                {{ vehicle.device }} <small> {{ vehicle.deviceNumber }} </small>
                            </label>
                        </div>
                    </td>
                    } @else if (col.field === 'sim') {
                    <td>
                        <label class="d-flex flex-column">
                            {{ vehicle.sim }} <small> {{ vehicle.simSize }} </small>
                        </label>
                    </td>
                    } @else if (col.field === 'fleet') {
                    <td>{{ vehicle.fleet }}</td>
                    } @else if (col.field === 'status') {
                    <td>
                        <div class="dropdown text-end">
                            <button class="btn btn-outline-light dropdown-toggle btn-sm" type="button"
                                id="actionDropdown-{{i}}" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ vehicle.activeAction?.name || 'Active' }}
                            </button>

                            <ul class="dropdown-menu">
                                @for (action of actions; track $index) {
                                <li>
                                    <a class="dropdown-item" href="#"
                                        (click)="onSelectAction(vehicle, action); $event.preventDefault()">
                                        {{ action.name }}
                                    </a>
                                </li>
                                }
                            </ul>

                        </div>
                    </td>
                    }
                    }
                </tr>
            </ng-template>
        </p-table>

        @if (filteredVehicles.length === 0 && searchTerm.value) {
        <div class="empty-state">
            <p>No vehicles found matching "{{ searchTerm.value }}".</p>
        </div>
        }
    </div>
</div>