// colors
$primary-color: #00C5D6;
$primary-color-dark: #009AA0;
$background-primaryColor: #252836;
$secondary-color: #1F1D2B;
$text-color: #706D7E;
$text-colorSecondary: #CECBDE;
$border-color: #3E3C51;
$text-white: #FFFFFF;
$box-color: #2A2A3D;
$font-family: 'Arial', sans-serif;


// font family
 $font-familyBase: 'Poppins';
 $font-familySemiBold: 'Poppins SemiBold';
 $font-familyLight: 'Poppins Light';